{% if key in ["params", "result"] %}>{% endif %}### {{key}}{% if subschema.title %}: {{subschema.title}}{% endif %}

{# checking keys existing in object #}
{% if subschema.keys() | intersectionAny(["allOf", "anyOf", "oneOf"]) %}
    {# set existing key name #}
    {% set keyOf = subschema.keys() | intersectionValue(["allOf", "anyOf", "oneOf"]) %}
    {% for value in subschema[keyOf] %}
        {% with subschema = value, key = loop.index | string, indentlvl = indentlvl + 1 %}
{% include "docs_subschema.j2" %}
        {% endwith %}
    {% endfor %}
{% elif subschema.properties %}
    {% if subschema.required %}
>{{("Required: " + ", ".join(subschema.required))}}
>
    {% endif %}
>|Name|Type|Description|
>|-|-|-|
    {% for key, value in subschema.properties.iteritems() %}
>|{{key}}|{{value.type or (value.enum and "enum")}}|{{value.description}}|
    {% endfor %}
{% elif subschema.type == "array" %}
    {% if subschema["items"].properties %}
        {% for key, value in subschema["items"].properties.iteritems() %}
            {% if value["resolved_ref"] %}
>|{{key}}|$ref:{{value["resolved_ref"]}}||
            {% else %}
>|{{key}}|{{value.type}}|{{value.description}}|
            {% endif %}
        {% endfor %}
    {% else %}
>Array of: {{subschema.type}}
    {% endif %}
>
{% endif %}
