package proxy

{% for ns in schemas %}
var {{ns | capitalize}} map[string]string
{% endfor %}

func init() {
  {% for ns in schemas %}
  {{ns | capitalize}} = make(map[string]string, {{schemas[ns].keys() | length}})
    {% for method, schema in schemas[ns].iteritems() %}
  {{ns | capitalize}}["{{method}}"] = `{{schema.params | json_dumps}}`
    {% endfor %}
  {% endfor %}
}

