var jsonSchema = {};
{% for key, schema in schemas.iteritems() %}
jsonSchema["{{key}}"] = {{schema}};
{% endfor %}

if (typeof exports !== 'undefined') {
    if (typeof module !== 'undefined' && module.exports) {
        exports = module.exports = jsonSchema;
    }
    exports.jsonSchema = jsonSchema;
}

