{% extends "layout.j2" %}

{% block content %}

<h2>Methods</h2>
<ol>
{% for key in methods %}
    <li><a href="schemas/{{key}}.html">{{key}}</a></li>
{% endfor %}
</ol>

<h2>Structs</h2>
<ol>
{% for key in structs %}
    <li><a href="schemas/{{key}}.html">{{key}}</a></li>
{% endfor %}
</ol>

{% endblock %}
