{% extends "layout.j2" %}

{% block head %}
<link rel="stylesheet" href="../vendor/highlight-monokai-sublime.css">
<script src="../vendor/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}

<h1><a href="../index.html">Index</a> / {{schema.id}}</h1>

{% if schema.description %}
<p>{{schema.description}}</p>
{% endif %}

{% if schema.params %}
<h2>Params</h2>
<pre><code class="json">{{schema.params | jsonPrettyDump}}</code></pre>
{% endif %}

{% if schema.result %}
<h2>Result</h2>
<pre><code class="json">{{schema.result | jsonPrettyDump}}</code></pre>
{% endif %}

{% if schema.definitions %}
<h2>Definitions</h2>
<pre><code class="json">{{schema.definitions | jsonPrettyDump}}</code></pre>
{% endif %}

{% endblock %}
